<div class="container-fluid image">

  <div class="row">
    <div class="col-md-12">
      <div class="TopSection row">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true" routerLink="/khurram-work">Home</button>
            <button class="nav-link" id="nav-highcharts-tab" data-bs-toggle="tab" data-bs-target="#nav-highcharts" type="button" role="tab" aria-controls="nav-highcharts" aria-selected="false" routerLink="/highCharts">HighCharts</button>
            <button class="nav-link" id="nav-regist-tab" data-bs-toggle="tab" data-bs-target="#nav-regist" type="button" role="tab" aria-controls="nav-regist" aria-selected="false" routerLink="/registration">Registration</button>
          </div>
        </nav>
        <div class="full" id="map">

        </div>
      </div>
    </div>
  </div>

</div>


