<div class="row">
  <div class="col-md-12">
    <div class="TopSection row">

      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="false" routerLink="/khurram-work">Home</button>
          <button class="nav-link active" id="nav-highcharts-tab" data-bs-toggle="tab" data-bs-target="#nav-highcharts" type="button" role="tab" aria-controls="nav-highcharts" aria-selected="true" routerLink="/highCharts">HighCharts</button>
          <button class="nav-link" id="nav-regist-tab" data-bs-toggle="tab" data-bs-target="#nav-regist" type="button" role="tab" aria-controls="nav-regist" aria-selected="false" routerLink="/registration">Registration</button>
        </div>
      </nav>

      <div class="container-fluid py-3">
        <h1>Angular Highcharts</h1>

        <div class="row mt-5">
          <div class="col-6">
            <div id="chart-gauge"></div>
          </div>
          <div class="col-6">
            <div id="chart-pie"></div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-6">
            <div id="chart-column"></div>
          </div>
          <div class="col-6">
            <div id="chart-line"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
